{erl_opts, [debug_info]}.

% Dependencies

{deps, [
	{cowboy, "1.0.1"}
]}.

% Profiles

{profiles, [
	{test, [{deps, [
		{meck, ".*",{git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
		]}
	]},
	{dev, []},
	{prod, []}
]}.

%% Coverage

{cover_enabled, true}.
{deps_error_on_conflict, false}.
%% Rebar hex plugin
{plugins, [rebar3_hex]}.